* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(237, 12%, 33%);
    height: 100%;
    width: 100%;
}

body {
    height: 610px;
    width: 100%;
}

main {
    width: 1152px;
    min-width: 1100px;
    height: 100%;
    min-height: 495px;
    margin: 100px auto;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    background-color: white;
    border-radius: 15px;
    width: 70%;
    min-width: 920px;
    height: 65.5%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#background-pattern {
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
}

#background-pattern img {
    position: relative;
}

#pattern {
    width: 150%;
    min-width: 350px;
    margin-top: -39%;
    margin-right: 98%;
    z-index: 1;
}

#woman {
    width: 90%;
    min-width: 310px;
    margin-top: -99%;
    margin-right: 37%;
    z-index: 2;
}

#desk-box {
    position: relative;
    z-index: 3;
    right: 92.89%;
    bottom: -8.1%;
    width: 126px;
}

#background-responsive,
#woman-responsive {
    display: none;
}

#accordeon {
    position: relative;
    right: 1%;
    top: 2%;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

#accordeon h1 {
    color: hsl(238, 29%, 16%);
    padding-bottom: 25px;
    font-size: 36px;
    font-weight: 700;
}

#accordeon div {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 10px;
    height: 100%;
    width: 350px;
    cursor: pointer;
    outline: none;
}

#accordeon div a {
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 10px 0px 15px 0px;
}

#accordeon div img {
    position: absolute;
    right: 5%;
    margin-top: 5px;
    transition: 0.4s;
}

#accordeon div p {
    display: none;
    margin-bottom: 10px;
    line-height: 1.8;
}

#accordeon div:hover a {
    color: hsl(14, 88%, 65%);
}

#accordeon div:focus a {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}

#accordeon div:focus img {
    transform: rotate(180deg);
}

#accordeon div:focus p {
    display: block;
}

footer {
    width: 100%;
    font-size: 16px;
    text-align: center;
}

footer p {
    width: 100%;
}

footer a {
    color: hsl(228, 45%, 44%); 
}

footer a:visited {
    color: hsl(228, 45%, 44%); 
}

@media (max-width:750px) {
    html, body {
        width: 100%;
    }
    body {
        min-height: 100%;
    }
    main {
        min-width: 100%;
        max-width: 100%;
        margin: 0px 0px 20px 0px;
        height: 90%;
    }
    #box {
        flex-flow: column nowrap;
        min-height: 501px;
        height: 501px;
        min-width: 338px;
        width: 338px;
        align-items: center;
        margin-top: 40px;
    }

    #background-pattern {
        display: none;
    }

    #desk-box {
        display: none;
    }

    #background-responsive {
        display: block;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        align-items: center;
    }

    #woman-responsive {
        display: block;
        position: relative;
        z-index: 2;
        right: 4%;
        bottom: 105%;
    }

    #accordeon {
        width: 100%;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 5px;
    }

    #accordeon h1 {
        text-align: center;
    }

    #accordeon div {
        width: 70%;
        min-width: 270.8px;
    }

    #accordeon div a {
        font-size: 14px;
    }

    #accordeon div p {
        font-size: 11.5px;
    }

    #accordeon div img {
        right: 8%;
    }


    #footer {
        font-size: 14px;
    }
}